@font-face {
  font-family: Titular;
  src: url(./fontes/DigitaltsOrange-nRAPg.ttf);
}

body {
  background-color: rgba(228, 184, 154, 0.482);
}

header {
  padding: 2px 10px 10px;
  background-color: rgb(107, 184, 169);
  text-align: center;
}

h1 {
  font-family: Titular;
  text-align: center;
  font-size: 40px;
  color: rgb(141, 43, 8);
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-weight: bold;
}

main, footer, header, div {
  display: flex;
  justify-content: center;
}

ol {
  box-shadow: 10px 10px 10px 5px black;
  width: 70%;
  margin: 10px;
  padding: 5px 20px 10px 40px;
  background: url(./imagens/borda.png) no-repeat, url(./imagens/folha_pautada.png) no-repeat;
  background-repeat: repeat-y;
}

li {
  margin-left: 25px;
}

#texto-tarefa {
  display: inline-block;
  width: 70%;
}

#containerBtnControle {
  flex-wrap: wrap;
}

#obs {
  font-size: small;
}

#imgLapis {
  width: 60px;
  margin-left: 5px;
}

#divNavLista, header {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#mover-cima, #mover-baixo {
  margin: 0px 5px 5px;
  width: 34px;
  height: 34px;
  background-position: -2px 0px;
}

#mover-cima {
  background-image: url(./icones/Arrow_Up_36952.png);
}

#mover-baixo {
  background-image: url(./icones/Arrow_Down_36955.png);
}

#remover-selecionado {
  margin: 10px 0 0 19px;
  height: 50px;
}

.btn {
  margin: 5px 5px;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

.marcado {
  background-color: rgb(128, 128, 128);
}

.bordaEstlizadaBtn {
  border-radius: 100%;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #texto-tarefa {
    height: 30px;
    padding: 0px 5px 0px 5px;
  }

  .btn {
    padding: 2px 15px 2px 15px;
    margin-top: 0px;
  }

  main {
    width: 100%;
  }
  
  #imgLapis {
    width: 30px;
    margin: 0;
  }

  ol {
    width: 75%;
    padding: 5px 5px 5px 30px;
  }

  #divNavLista {
    width: 7%;
  }

  #mover-cima, #mover-baixo {
    margin: 0px;
    margin-bottom: 15px;
  }
}
