* {
  text-align: center;
  margin: 0;
}

body {
  background-color: #FAB947;
}

h3 {
  color: white;
  margin-top: 20px;
}

header {
  width: 100%;
  position:fixed;
  z-index: 2;
  background-color: #F3E54F;
  
}

main {
  position: absolute;
  top: 220px;
}

section {
  margin: 15px;
  padding: 2px;
  margin-right:  25px;
  margin-bottom: 30px;
}

ul {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
}

ul li {
  text-align: left;
  font-size: x-large;
}

.imagens {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sombraDeCaixa {
  box-shadow: 10px 10px 10px 5px black;
}

.fundo-azul-escuro {
  background-color: #535D94;
}