* {
  text-align: center;
  margin: 0;
}

@font-face {
  font-family: Faroeste;
  src: url(./fontes/Quentincaps-owxKz.ttf);
}

body {
  background-color: #FAB947;
}

h1 {
  font-family: Faroeste;
  font-size:80px;
  font-weight: 100;
}

h3 {
  color: white;
  margin-top: 20px;
}

header {
  width: 100%;
  position:fixed;
  z-index: 2;
  background-color: #F3E54F;
  padding: 10px;
}

main {
  position: absolute;
  /* top: 220px; */
}

section {
  margin: 15px;
  padding: 2px;
  margin-right:  25px;
  margin-bottom: 30px;
}

ul {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
}

ul li {
  text-align: left;
  font-size: x-large;
}

hr {
  margin-left: 20px;
}

#indice {
  display: inline-block;
  /* margin-bottom: 170px; */
  padding: 5px;
}

.divOculto {
  /* position:fixed; */
  /* width: 98%;
  margin-left: 0 auto; */
  border: 1px solid black;
}

.olho {
  vertical-align: bottom;
}

.imagens {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.sombraDeCaixa {
  box-shadow: 10px 10px 10px 5px black;
}

.fundo-azul-escuro {
  background-color: #535D94;
}

.linha-bloco {
  display: inline-block;
}